<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>last_packet_at</th>
      <th>username</th>
      <th>online</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>2024-11-18T09:16:45.006Z</td>
      <td>yulia_test</td>
      <td>{'minutes': '898.43'}</td>
    </tr>
    <tr>
      <th>474</th>
      <td>None</td>
      <td>ios_test</td>
      <td>{'minutes': '47128.50'}</td>
    </tr>
    <tr>
      <th>562</th>
      <td>None</td>
      <td>simon_miller</td>
      <td>{'minutes': '57052.73'}</td>
    </tr>
  </tbody>
</table>